branch-defaults:
  master:
    environment: null
    group_suffix: null
global:
  application_name: beanstalk_rails
  default_ec2_keyname: "{{KeyName}}"
  default_platform: Ruby 2.3 (Puma)
  default_region: us-east-1
  profile: null
  sc: git