option_settings:
  aws:autoscaling:launchconfiguration:
    InstanceType: "t2.micro"
    SecurityGroups: "{{SecurityGroupId}}"
  aws:ec2:vpc:
    VPCId: "{{VPCId}}"
    Subnets: "{{SubnetIds}}"
    ELBSubnets: "{{ELBSubnetIds}}""